<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <title>QR CODE APP</title>
</head>
<body>
    <div class="container mt-4">
        <h1>QR CODE GENERATOR</h1>
        <hr>
        <form action="/scan" method="POST" class="form">
            <textarea name="text" id="text" cols="148" rows="10" placeholder="Enter URL or Text"></textarea>
            <br><br>
            <button type="submit" class="btn btn-outline-primary">Generate QR Code</button>
        </form>    
        
    </div>
    
</body>
</html>